@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: rgba(0,0,0,0.5) !important;
}

.navbar-brand {
    font-family: 'Style Script', cursive;
    font-size: 30px !important;
    border-bottom: 2px solid orange;
}

.navbar .nav-item .nav-link {
    text-transform: uppercase;
}

.navbar .nav-item .nav-link:hover {
    background-color: #fff;
    color: #000;
}

.banner {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./imgs/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-left {
    min-height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./imgs/bg-intro.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    opacity: 0.7;
}

.footer-text {
    font-family: 'Style Script', cursive;
}


